#divCounter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
    background-color: rgb(150, 152, 154);
}

h2 {
    font-size: 2.5em;
    padding: 0px 30px;
}

@media screen and (max-width: 1080px){
    h2 {
        font-size: 1.5em;
        padding: 0px 30px;
    }
  }


